<div class="gallery flex flex-wrap justify-center">
    <div class="flex flex-wrap justify-center w-screen">
        <div class="justify-center  m-2 border-4 border-black rounded w-5/12 bg-fixed bg-cover "
            style="background: url(https://picsum.photos/300/300)">
            <div class="bg-red-400 p-2 m-0">
                <h1 class="text-center font-bold text-white">grande frase ad effetto</h1>
            </div>
            <div class="p-2 m-0">
                <p class="text-center">Grande param</p>
            </div>
            <div class=" flex justify-center m-2">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl m-">Associazione</button>
            </div>
        </div>
        <div class="bg-red-600 justify-center  m-2 border-4 border-black rounded bg-fixed w-5/12"
            style="background: url(https://picsum.photos/300/300)">
            <div class="bg-red-400 p-2 m-0">
                <h1 class="text-center">grande frase ad effetto</h1>
            </div>
            <div class="p-2 m-0">
                <p class="text-center">Grande param</p>
            </div>
            <div class=" flex justify-center m-2">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl m-">Corsi</button>
            </div>
        </div>
    </div>
    <div class="flex flex-wrap justify-center w-screen">
        <div class="bg-red-600 justify-center  m-2 border-4 border-black rounded bg-fixed w-5/12"
            style="background: url(https://picsum.photos/300/300)">
            <div class="bg-red-400 p-2 m-0">
                <h1 class="text-center">grande frase ad effetto</h1>
            </div>
            <div class="p-2 m-0">
                <p class="text-center">Grande param</p>
            </div>
            <div class=" flex justify-center m-2">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl m-">Eventi</button>
            </div>
        </div>
        <div class="bg-red-600 justify-center  m-2 border-4 border-black rounded bg-fixed w-5/12"
            style="background: url(https://picsum.photos/300/300)">
            <div class="bg-red-400 p-2 m-0">
                <h1 class="text-center">grande frase ad effetto</h1>
            </div>
            <div class="p-2 m-0">
                <p class="text-center">Grande param</p>
            </div>
            <div class=" flex justify-center m-2">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl m-">Coro</button>
            </div>
        </div>
    </div>
</div>