<div class="flex flex-wrap justify-center">
  <!--suggestd ratio 1:2 for better layout-->

  <div class="justify-center m-2 w-screen md:w-5/12">
    <!--ASSOCIAZIONE START-->
    <div class="bg-orange-400 p-4 m-0 rounded-t-lg">
      <a href='{{ absURL "associazione" }}'>
        <h1 class="text-center font-bold text-white">Associazione</h1>
      </a>
    </div>
    <img src='{{ ( resources.Get "images/HOME_associazione.png" ).RelPermalink }}' class="w-full object-cover" />
    <div class="py-4 px-8 md:h-48 bg-yellow-200 text-gray-900 align-middle overflow-auto">
      L'associazione di promozione sociale Diapason nasce nel 2019 con l’intento di creare attraverso la musica spazi
      aggregativi, occasioni di crescita e conoscenza, condivisione culturale.<br>
      Proponiamo corsi di musica, dal pianoforte alla vocalità, dalla propedeutica per bambini all’improvvisazione come
      metodo di avviamento alla musica, collaboriamo con la Corte Polifonica, un coro nato nel 2020, e altre realtà
      locali. Offriamo ai ragazzi delle vacanze estive all’insegna della musica e della creatività e molto altro.
    </div>
    <div class="bg-yellow-200 rounded-b-lg flex justify-end">
      <a href='{{ absURL "associazione" }}'
        class="bg-orange-300 hover:bg-orange-400 text-gray-900 font-bold py-2 px-20 rounded-2xl m-4 cursor-pointer">Scopri
        di più</a>
    </div>
  </div>
  <!--ASSOCIAZIONE END-->

  <div class="justify-center m-2 w-screen md:w-5/12">
    <!--CORSI START-->
    <div class="bg-pink-700 p-4 m-0 rounded-t-lg">
      <a href='{{ absURL "attivita" }}'>
        <h1 class="text-center font-bold text-white">Corsi e progetti</h1>
      </a>
    </div>
    <img src='{{ ( resources.Get "images/HOME_corsi.png" ).RelPermalink }}' class="w-full object-cover" />
    <div class="py-4 px-8 md:h-48 bg-pink-200 text-gray-900 align-middle overflow-auto">
      L’associazione propone corsi annuali di pianoforte, percorsi di propedeutica musicale, avviamento alla musica per
      piccoli gruppi, vocalità per adulti e bambini, individuale o di gruppo.
      Per i più piccoli e i loro genitori organizziamo incontri di musica in culla, mentre per l'estate dei giovani
      musicisti proponiamo corsi estivi di pianoforte (ma non solo) e creatività.
    </div>
    <div class="bg-pink-200 rounded-b-lg flex justify-end">
      <a href='{{ absURL "attivita" }}'
        class="bg-pink-400 hover:bg-pink-500 text-gray-900 font-bold py-2 px-20 rounded-2xl m-4 cursor-pointer">
        Elenco corsi e attività
      </a>
    </div>
  </div>
  <!--CORSI END-->

  <div class="justify-center m-2 w-screen md:w-5/12">
    <!--EVENTI START-->
    <div class="bg-red-800 p-4 m-0 rounded-t-lg">
      <a href='{{ absURL "eventi" }}'>
        <h1 class="text-center font-bold text-white">Eventi</h1>
      </a>
    </div>
    <img src='{{ ( resources.Get "images/HOME_eventi.png" ).RelPermalink }}' class="w-full object-cover" />
    <div class="py-4 px-8 md:h-48 bg-red-200 text-gray-900 align-middle overflow-auto">
      Organizziamo diversi tipi di eventi sempre con la musica come protagonista in tutte le sue forme e sfacettature.
      Concerti per coro e orchestra, con la collaborazione del coro Corte Polifonica, lezioni-concerto su temi
      specifici, corsi estivi per giovani musicisti e weekend di approfondimento dedicati ai grandi e ai piccoli.
    </div>
    <div class="bg-red-200 rounded-b-lg flex justify-end">
      <a href='{{ absURL "eventi" }}'
        class="bg-red-500 hover:bg-red-600 text-gray-900 font-bold py-2 px-20 rounded-2xl m-4 cursor-pointer">
        Vai al calendario eventi
      </a>
    </div>
  </div>
  <!--EVENTI END-->

  <div class="justify-center m-2 w-screen md:w-5/12">
    <!--CORO START-->
    <div class="bg-blue-800 p-4 m-0 rounded-t-lg">
      <a href='https://cortepolifonica.it/'>
        <h1 class="text-center font-bold text-white">Coro</h1>
      </a>
    </div>
    <img src='{{ ( resources.Get "images/HOME_coro.png" ).RelPermalink }}' class="w-full object-cover" />
    <div class="py-4 px-8 md:h-48 bg-blue-200 text-gray-900 align-middle overflow-auto">
      Di recentissima formazione, l’ensemble composto da musicisti di varia provenienza e di
      grande esperienza ha iniziato a lavorare nel giugno 2020 all’interno dell’associazione
      musicale Diapason.
      Il luogo di ritrovo del coro, la corte di casa, dà il nome a questo gruppo, nato
      soprattutto dalla volontà di ritrovarsi e di farsi ascoltare. È diretto dal maestro Martina Frigo e si prefigge di
      lavorare su un repertorio romantico
      e moderno, con particolare attenzione alla contemporaneità.
    </div>
    <div class="bg-blue-200 rounded-b-lg flex justify-end">
      <a href='https://cortepolifonica.it/'
        class="bg-blue-400 hover:bg-blue-500 text-gray-900 font-bold py-2 px-20 rounded-2xl m-4 cursor-pointer">
        Visita la Corte Polifonica
      </a>
    </div>
  </div>
  <!--CORO END-->
</div>