<div class="gallery flex flex-wrap justify-center">
    <div class="justify-center m-2 w-screen md:w-5/12">
      <div class="bg-teal-900 p-4 m-0 rounded-t-lg">
        <h1 class="text-center font-bold text-white">Associazione</h1>
      </div>
      <img src="https://picsum.photos/600/300" class="img-gallery w-full h-48 object-cover" />
      <div class="py-4 px-8 md:h-48 bg-teal-200 text-gray-900 align-middle overflow-auto"><span class="font-bold">Lorem Ipsum </span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of L</div>
      <div class="bg-teal-200 rounded-b-lg flex justify-end">
        <button class="bg-teal-400 hover:bg-teal-500 text-gray-900 font-bold py-2 px-20 rounded-2xl m-4">Scopri di più</button>
      </div>
    </div>
    <div class="justify-center m-2 w-screen md:w-5/12">
      <div class="bg-teal-900 p-4 m-0 rounded-t-lg">
        <h1 class="text-center font-bold text-white">Corsi</h1>
      </div>
      <img src="https://picsum.photos/600/300" class="img-gallery w-full h-48 object-cover" />
      <div class="py-4 px-8 md:h-48 bg-teal-200 text-gray-900 align-middle overflow-auto"><span class="font-bold">Lorem Ipsum </span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of L</div>
      <div class="bg-teal-200 rounded-b-lg flex justify-end">
        <button class="bg-teal-400 hover:bg-teal-500 text-gray-900 font-bold py-2 px-20 rounded-2xl m-4">Scopri di più</button>
      </div>
    </div>
    <div class="justify-center m-2 w-screen md:w-5/12">
      <div class="bg-teal-900 p-4 m-0 rounded-t-lg">
        <h1 class="text-center font-bold text-white">Eventi</h1>
      </div>
      <img src="https://picsum.photos/600/300" class="img-gallery w-full h-48 object-cover" />
      <div class="py-4 px-8 md:h-48 bg-teal-200 text-gray-900 align-middle overflow-auto"><span class="font-bold">Lorem Ipsum </span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of L</div>
      <div class="bg-teal-200 rounded-b-lg flex justify-end">
        <button class="bg-teal-400 hover:bg-teal-500 text-gray-900 font-bold py-2 px-20 rounded-2xl m-4">Scopri di più</button>
      </div>
    </div>
    <div class="justify-center m-2 w-screen md:w-5/12">
      <div class="bg-teal-900 p-4 m-0 rounded-t-lg">
        <h1 class="text-center font-bold text-white">Coro</h1>
      </div>
      <img src="https://picsum.photos/600/300" class="img-gallery w-full h-48 object-cover" />
      <div class="py-4 px-8 md:h-48 bg-teal-200 text-gray-900 align-middle overflow-auto"><span class="font-bold">Lorem Ipsum </span> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of L</div>
      <div class="bg-teal-200 rounded-b-lg flex justify-end">
        <button class="bg-teal-400 hover:bg-teal-500 text-gray-900 font-bold py-2 px-20 rounded-2xl m-4">Scopri di più</button>
      </div>
    </div>
  </div>
  