<div class="gallery flex flex-wrap justify-center"> <!--simpler gallery-->
    <img src='{{ ( resources.Get "images/HOME_associazione.png" ).RelPermalink }}' class="img-gallery m-2 rounded-lg  max-w-300" />
    <img src='{{ ( resources.Get "images/HOME_corsi.png" ).RelPermalink }}' class="img-gallery m-2 hidden sm:flex rounded-lg  max-w-300" />
    <img src='{{ ( resources.Get "images/HOME_eventi.png" ).RelPermalink }}' class="img-gallery m-2 hidden lg:flex rounded-lg  max-w-300" />
    <img src='{{ ( resources.Get "images/HOME_coro.png" ).RelPermalink }}' class="img-gallery m-2 hidden xl:flex rounded-lg  max-w-300" />
</div>

<script>
    //for testing only

    var sources = [
        '{{ ( resources.Get "images/HOME_associazione.png" ).RelPermalink }}',
        '{{ ( resources.Get "images/HOME_corsi.png" ).RelPermalink }}',
        '{{ ( resources.Get "images/HOME_eventi.png" ).RelPermalink }}',
        '{{ ( resources.Get "images/HOME_coro.png" ).RelPermalink }}',
        '{{ ( resources.Get "images/GALLERY_01.png" ).RelPermalink }}'
        ];//wil contain the list of images to use, despite how many i display
    
    
    //var poolsize = 50; testing only
    //for (i = 0; i < poolsize; i++) {
    //    var  currid= 1000+i;
    //    sources[i] = 'https://picsum.photos/id/'+currid+'/300';
    //}



    window.setInterval(function () {//un every 2 seconds
        var currentImages = document.querySelectorAll('.img-gallery');//getting all the images i display
        var usedSrc = new Set();
        var tochange = Math.floor(Math.random() * currentImages.length);//pick one at random to change

        for (i=0; i<currentImages.length; i++) {
            if (i==tochange) {
                console.log('switching image '+ i+ ' '+ currentImages[i].src);
                var keeplooking = true;
                while (keeplooking) {
                    var j = Math.floor(Math.random() * sources.length);//pick one at random from the pool of sources
                    var currentsrc= sources[j];
                    if(usedSrc.has(currentsrc)) {//if already used keeploking
                        keeplooking = true;       
                    } else {
                        keeplooking = false;
                        currentImages[i].src=sources[j]; //if found substituite
                        usedSrc.add(sources[j]);//and track usage
                        console.log('used j='+j+' src='+sources[j]);
                    }
                }
            } else {
                //still looking for the image to change
            }
        }
    }, 2000);
</script>