<nav class="flex flex-wrap items-center justify-between bg-teal-500">
    <div class="flex items-center flex-shrink-0 mr-6 text-white">
        <!--LOGO-->
        <a href='{{ absURL "" }}'>
            <img src='{{ ( resources.Get "logoaps.svg" ).RelPermalink }}' alt="APS Diapason" 
            class="w-16 h-16 mr-2 fill-current">
            <span class="text-xl font-semibold tracking-tight">APS Diapason</span>
        </a>
    </div>
    <div class="block p-2 lg:hidden">
        <button
            class="flex items-center px-3 py-2 text-teal-200 border border-teal-400 rounded hover:text-white hover:border-white"
            onclick="handleNavClick();">
            <svg class="w-6 h-6 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
    <div class="flex-grow hidden block w-full nav-menu lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a href='{{ absURL "associazione" }}'
                class="block p-4 mt-4 mr-4 text-lg text-teal-200 lg:inline-block lg:mt-0 hover:text-white">Associazione</a>
            <a href='{{ absURL "corsi" }}'
                class="block p-4 mt-4 mr-4 text-lg text-teal-200 lg:inline-block lg:mt-0 hover:text-white">Corsi</a>
            <a href='{{ absURL "eventi" }}'
                class="block p-4 mt-4 mr-4 text-lg text-teal-200 lg:inline-block lg:mt-0 hover:text-white">Eventi</a>
            <a href='https://cecca.github.io/cortepolifonica/'
                class="block p-4 mt-4 mr-4 text-lg text-teal-200 lg:inline-block lg:mt-0 hover:text-white">Coro</a>
            <a href='#contatti'
                class="block p-4 mt-4 mr-4 text-lg text-teal-200 lg:inline-block lg:mt-0 hover:text-white">Contatti</a>
        </div>
    </div>
</nav>